<div class="card-body">
    <div class="card-img">
        <img src="assets/svg icons/house.svg" alt="das">
    </div>
    <div class="card-content">
        <h2 class="content-heading">Mountain trip</h2>
        <hr>
        <div class="amount">
            <div class="amount-saved">
                <p class="amount-text">Amount saved</p>
                <p><span class="amount-charge">$340</span> out of <b>$10,000</b></p>
            </div>
            <div class="amount-loader"></div>
        </div>
    </div>
</div>

<!-- Duplicate -->

<div class="card-body">
    <div class="card-img">
        <img src="assets/svg icons/house.svg" alt="das">
    </div>
    <div class="card-content">
        <h2 class="content-heading">Mountain trip</h2>
        <hr>
        <div class="amount">
            <div class="amount-saved">
                <p class="amount-text">Amount saved</p>
                <p><span class="amount-charge">$340</span> out of <b>$10,000</b></p>
            </div>
            <div class="amount-loader"></div>
        </div>
    </div>
</div>