<div class="container">
    <div class="top-section">
        <img src="assets/svg-icons/back-icon.svg" class="back-arrow" routerLink="/dashboard">
        <div class="search-goal">
            <h1>Select goal that you want to add</h1>
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="search goal..">
                <img src="assets/svg-icons/search-icon.svg" class="search-icon">
            </div>
        </div>
    </div>
    <div class="goals-container">
        <div class="common-goals">
            <h2>Most common</h2>
            <div class="common-goal-container">
                <div class="common-goal" *ngFor="let commonGoal of goalTypes.commonGoals">
                    <img src="{{ commonGoal.image }}" alt="Image not loaded" [routerLink]="['/goal-details', commonGoal.goalTitle]">
                    <p>{{ commonGoal.title }}</p>
                </div>
            </div>
        </div>
        <div class="other-goals">
            <h2>Other goals</h2>
            <div class="other-goal-container" *ngFor="let otherGoal of goalTypes.otherGoals">
                <div class="other-goal">
                    <img src="{{ otherGoal.image }}" alt="Image not loaded">
                    <div class="other-goal-details">
                        <h3>{{ otherGoal.title }}</h3>
                        <p>{{ otherGoal.goalTitle }}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>