<div class="container">
    <div class="top-section">
        <img src="assets/svg-icons/back-icon.svg" class="back-arrow" routerLink="/dashboard">
        <div class="search-goal">
            <h1>Select goal that you want to add</h1>
            <input type="text" class="search-input" placeholder="search goal..">
        </div>
    </div>
    <div class="goals-container">
        <div class="common-goals">
            <h2>Most common</h2>
            <div class="common-goal-container">
                <div class="common-goal">
                    <img src="assets/svg-icons/house.svg" alt="">
                    <p>Property</p>
                </div>

                <!-- duplicate -->
                <div class="common-goal">
                    <img src="assets/svg-icons/house.svg" alt="">
                    <p>Property</p>
                </div>
                <!-- end -->
            </div>
        </div>
        <div class="other-goals">
            <h2>Other goals</h2>
            <div class="other-goal-container">
                <div class="other-goal">
                    <img src="assets/svg-icons/house.svg" alt="">
                    <div class="other-goal-details">
                        <h3>Travel</h3>
                        <p>Hiking trip</p>
                    </div>
                </div>
                <hr>
                <!-- duplicate -->
                <div class="other-goal">
                    <img src="assets/svg-icons/house.svg" alt="">
                    <div class="other-goal-details">
                        <h3>Travel</h3>
                        <p>Hiking trip</p>
                    </div>
                </div>
                <hr>
                <!-- end -->
            </div>
        </div>
    </div>
</div>