.card-body {
  background-color: #008393;
  color: #ffffff;
  margin: 20px auto;
  border-radius: 20px;
  height: 250px;
  width: 350px;
}

.card-body .card-img {
  position: relative;
  height: 40%;
  border-radius: inherit;
}

.card-body .card-img .edit-icon {
  cursor: pointer;
  position: absolute;
  right: 5px;
  transition: all 1s;
}

.card-body:hover .card-img .edit-icon {
  right: 50%;
  top: 15%;
  width: 70px;
  transform: translateX(50%);
  z-index: 1;
}

.card-body .card-img .card-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-position: top; */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-body:hover .card-img .card-thumbnail {
  transition: all 0.5s;
  filter: blur(3px);
}

.card-body .card-content {
  height: 60%;
  padding: 20px;
}

.card-body .card-content hr {
  margin: 10px 0 15px 0;
  opacity: 0.2;
}

.card-body .card-content .amount {
  display: flex;
  justify-content: space-between;
}

.card-body .card-content .amount .amount-saved .amount-text {
  font-size: 0.8em;
  opacity: 0.8;
}

.card-body .card-content .amount .amount-saved .amount-charge {
  font-size: 1.2em;
  font-weight: 700;
}

.card-body .card-content .amount .amount-loader {
  border: 10px solid #f3f3f391;
  border-top: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@media only screen and (min-width: 500px) {
  .card-body {
    height: 350px;
    margin: 16px;
  }

  .card-body .card-img {
    height: 55%;
  }

  .card-body .card-content {
    height: 45%;
  }

  .card-body:hover .card-img .edit-icon {
    top: 30%;
  }
}