.home {
  background-color: #014343;
  color: #ffffff;
  padding: 20px;
}

.home .add-goal {
  cursor: pointer;
  display: flex;
  justify-content: end;
  font-weight: 500;
  font-size: 1.1em;
}

.home .add-goal a {
  text-decoration: none;
  color: #ffffff;
}

.home .goals-heading {
  font-size: 2em;
  margin: 16px 0;
}

.home .goal-title {
  opacity: 0.8;
}

@media only screen and (min-width: 500px) {
  .home .goal-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
