.goal-details {
    background-color: #014343;
    width: 100vw;
    height: 100vh;
    color: #ffffff;
    padding: 20px;
}

.goal-details h1 {
  text-align: center;
  margin-top: 30px;
}
.goal-details .card-body {
    background-color: #008393;
    color: #ffffff;
    margin: 40px 0;
    border-radius: 20px;
  }
  
  .goal-details .card-body .card-img {
    border-radius: inherit;
    height: 200px;
  }
  
  .goal-details .card-body .card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  
  .goal-details .card-body .card-content {
    text-align: center;
    padding: 0px 30px 50px;
  }
  
  .goal-details .card-body .card-content hr {
    margin: 10px 0 15px 0;
    opacity: 0.2;
  }
  
  .goal-details .card-body .card-content .content-title {
      font-size: 1em;
      font-weight: 400;
      margin: 30px 0 5px 0;
  }
  
  .goal-details .card-body .card-content .title-desc, .goal-details .card-body .card-content .amount {
    font-size: 1.1em;
    font-weight: 600;
    outline: none;
    border: none;
    background: none;
    color: #ffffff;
    text-align: center;
  }

  .goal-details .card-body .card-content .title-desc::-webkit-input-placeholder, .goal-details .card-body .card-content .amount::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.8;
    font-size: 1rem;
  }

  .goal-details .card-body .card-content .amount {
      font-size: 1.5em;
  }


  .estimation {
    font-size: 0.9em;
    opacity: 0.8;
  }

  .goal-details .save-btn {
    position: relative;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #f9f9d2;
    border-radius: 50%;
    margin: auto;
  }

  .goal-details .save-btn img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }